////////////////////////////////
// footer base
////////////////////////////////

.footer {
  @include radial-gloss;
  box-shadow: inset 0 1rem 2rem -1rem $shadow-dark;
}

// footer links
.footer-link {
  @include body-semibold-font;
  @include font-smoothing;
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: $epsilon;
  color: $gray;

  // active page link
  &.is-active-pg {
    color: $light-1;
  }

  // interactions
  &:hover, &:active, &:focus {
    color: $white;
  }
}


////////////////////////////////
// footer nav
////////////////////////////////

// small screens
@media (max-width: $xs - 0.001) {
  .footer-nav-link {
    display: block;
    padding-left: 0;
  }

  .footer-nav-item + .footer-nav-item {
    border-top: 1px solid $gray;
  }
}


// switch to inline list style when the space is available
@media (min-width: $xs) {
  .footer-nav {
    padding-top: rem(13);
    padding-bottom: rem(13);
  }
  .footer-nav-list {
    text-align: center;
  }
  .footer-nav-item {
    display: inline-block;
  }
}
