////////////////////////////////
// global
////////////////////////////////

// main container
.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: rem(183);

  // offset fixed nav
  @media (min-width: $l) and (min-height: $xxs) {
    margin-top: $nav-height;
  }
}

// row
.header > .g-container {
  @include flex-vertical-center;
  z-index: 1;
}

.header-headline {
  display: inline-block;
}

// hero image container
.hero {
  @include inflate;
  background-size: cover;
  background-position: center;
}
