////////////////////////////////
// global header styles
////////////////////////////////

// subhead (span nested within .header-headline)
.header-subhead {
  display: block; // make the span stackable
  margin-top: 0.25em; // space it out from the title
}

// hero image container
.hero {
  @include inflate;
  background-size: cover;
  background-position: center;
}


////////////////////////////////
// image header
////////////////////////////////

.image-header {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 10rem;
  padding: 2rem; // align left edge to content, ensure even spacing

  // add glossy overlay to pseudo element so it shows up over the hero image
  &:before {
    @include pseudo;
    @include inflate;
    @include radial-gloss;
    z-index: 1;
  }
}

// headline
.image-header-headline {
  display: inline-block;
  z-index: 1;
  top: -0.25rem; // fudge into x-height vertical alignment
}


////////////////////////////////
// filter header
////////////////////////////////

// space out the filter-header
.filter-header {
  padding-bottom: 1.5rem;

  // make filter-header stop before the secondary-content sidebar
  @media (min-width: $xl) {
    padding-right: $max-sidebar-width;
  }
}

// headline positioning
.filter-header-headline {
  // TODO: uncomment next line once logic is in place
  // margin-bottom: 0.65rem;
  // TODO: remove next three lines once logic is in place
  & ~ * {
    display: none !important;
  }
}

// tagcloud positioning
.filter-headline-label,
.filter-tag-list {
  display: inline-block;
}

// space out label from tagcloud
.filter-headline-label {
  margin-right: 0.5em;
}
