// NOTE: fixed nav media query:
// @media (min-width: $l) and (min-height: $s) {}

////////////////////////////////////////////
// container
////////////////////////////////////////////

// default positioning and theming
.nav-container {
  top: 0;
  z-index: 11;
  margin-bottom: 0;
  background-color: $brand-black;

  // background color
  @media (min-width: $s) {
    background-color: $white;
  }

  // fixed nav on bigger screens
  @media (min-width: $l) and (min-height: $s) {
    @include box-shadow($shadow);
    position: fixed;
  }

}


////////////////////////////////////////////
// main nav element
////////////////////////////////////////////

// positioning
.nav-main {
  height: $nav-height;

  // layout adjustments on bigger screens
  @media (min-width: $m) {
    max-width: none;
  }

  // offset nav-link padding on 3 column layout
  @media (min-width: $l) {
    padding-left: 0.5rem;
  }
}

// base style for nav elements
.nav-main * {
  @include body-semibold-font;
  @include font-smoothing;
  font-size: $epsilon;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
}


////////////////////////////////////////////
// nav logo for small screens
// (site-intro used for 2+3 column layouts)
////////////////////////////////////////////

// nav-logo positioning
.nav-logo {
  // default padding
  padding-top: 0.75rem;

  // padding adjustment on medium viewports
  @media (min-width: $s) and (max-width: $l - 0.001) {
    // add padding to logo
    padding-top: 0.85rem;
  }

  // main style
  @media (max-width: $l - 0.001) {
    // contain background
    width: 11.5rem;
    padding-left: 2rem;
    // offset padding; needed so that the logo background is
    // flush with the left edge of the screen
    left: -2rem;
    // make sure toggled nav-menu is above nav-logo
    z-index: 0;
  }
}

// on tiny screens, only show JF icon
.nav-logo .logo-name {
  @media (max-width: 18em - 0.001) {
    opacity: 0 !important;
  }
}

// link to site-intro
.nav-logo-link {
  @include inflate;
  z-index: 1; // position above logo
}


////////////////////////////////////////////
// main nav list
////////////////////////////////////////////

// small screens
@media (max-width: $s - 0.001) {
  .nav-list {
    @include dropdown-hidden;
    @include box-shadow-lg;
    max-width: $max-sidebar-width;
    right: $gutter;
    border-radius: 0 0 $radius-lg $radius-lg;
  }
}


// medium screens
@media (min-width: $s) and (max-width: $l - 0.001) {
  .nav-list {
    // position next to nav-logo
    position: absolute;
    top: 0;
    left: 11.75rem;
  }
}


// expanded menu state via js
.nav-list.is-expanded {
  @include dropdown-visible;
  @include nav-toggle-max-width;

  // position expanded list directly below menu toggle button
  @media (max-width: $s - 0.001) {
    margin-top: -0.78rem; // fudged
  }
}


////////////////////////////////////////////
// main nav items
////////////////////////////////////////////

// nav items
.nav-item {
  width: 100%;
  height: auto;
  float: left;
  background-color: $white;

  @media (max-width: $s - 0.001) {
    & + & {
      border-top: 1px solid $light-1;
    }
    &:last-of-type {
      border-radius: 0 0 $radius-lg $radius-lg;
      overflow: hidden;
    }
  }

  // large screen style
  @media (min-width: $s) {
    width: auto;
    display: block;
  }
}


////////////////////////////////////////////
// main nav links
////////////////////////////////////////////

// nav links
.nav-link {
  display: block;
  line-height: 40px;
  font-size: 18px;
  z-index: 1;
  overflow: hidden;
  padding-left: rem(15);
  padding-right: rem(15);

  // extra padding where screen real estate allows
  @media (min-width: $s) {
    padding: 0 rem(9);
    line-height: $nav-height; // vertically center
    font-size: $epsilon;
  }

  // active page
  &.is-active-pg {
    color: $dark-2;
  }
}


////////////////////////////////////////////
// main nav link interactions
////////////////////////////////////////////

.nav-link {
  // simplified hover effect via background-color on smaller screens
  &:hover, &:active, &:focus {
    background-color: $brand-color;
    color: $white;
  }
  // fancy hover via pseudo element on bigger screens
  @media (min-width: $l) {
    @include fancy-nav-hover;
  }
}


////////////////////////////////////////////
// nav toggle button
////////////////////////////////////////////

// nav toggle button container
.nav-toggle {
  @include box-shadow(rgba($black, 0.25));
  // positioning
  position: absolute;
  top: 0.675rem;
  right: $gutter;
  padding: 2px 10px 1px 9px; // somewhat fudged
  z-index: 1; // position above logo on tiny viewports
  // anchor menu text to right side when toggled
  text-align: right;
  // theming
  background-color: $white;
  border-radius: $radius-lg;

  // nav-toggle active state
  &.is-active {
    @include nav-toggle-max-width;
    width: $max-sidebar-width;
    background-color: $brand-color;
    border-radius: $radius-lg $radius-lg 0 0;
    box-shadow: none;
  }
}


// menu toggle text
.nav-toggle-text {
  font-size: 18px; // set in pixels like the icon and links
  color: $brand-color;

  // nav-toggle active state
  .nav-toggle.is-active & { // .nav-toggle.is-active .nav-toggle-text
    color: $white;
  }
}


// hamburger icon container
.hamburger {
  display: inline-block;
  margin-left: 0.4rem;
}

// hamburger initial state
.hamburger-bun {
  display: block;
  width: 16px;
  height: 2px;
  border-radius: 1px;
  background-color: $brand-color;

  // stacked buns
  & + & {
    margin-top: 3px;
  }
}

// hamburger active state
.hamburger.is-active {
  transform: translateX(5px);

  .hamburger-bun {
    background-color: $white;
  }

  .hamburger-bun-top {
    transform: rotateZ(45deg) translateY(7px);
  }
  .hamburger-bun-patty {
    opacity: 0;
  }
  .hamburger-bun-bottom {
    transform: rotateZ(-45deg) translateY(-7px);
  }
}


////////////////////////////////////////////
// skip link
////////////////////////////////////////////

// skip link
a.skip {
  top: $nav-height + 0.13rem; // position under nav bar
  z-index: 8;
  transform: translateX(-100%);

  @media (min-width: $l) {
    left: 1.5rem;
  }
}

// focus
.skip:focus {
  clip: auto;
  height: auto;
  width: auto;
  transform: none;
}
