////////////////////////////////
// container
////////////////////////////////

// nav container
.nav-container {
  top: 0;
  z-index: 11;
  margin-bottom: -#{$nav-height}; // place menu toggle above

  // background color
  @media (min-width: $m) {
    width: 100%;
    background-color: $white;
    margin-bottom: 0; // reset
  }

  // fixed nav on bigger screens
  @media (min-width: $l) and (min-height: $xxs) {
    @include box-shadow($shadow);
    position: fixed;
  }

}


// nav element
.nav-main {
  height: $nav-height;

  // base style for nav elements
  * {
    @include body-semibold-font;
    @include font-smoothing;
    font-size: $epsilon;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray;
  }
}


////////////////////////////////
// main nav list
////////////////////////////////

// nav list
.nav-list {

  // small screens
  @media (max-width: $m - 0.001) {
    @include dropdown-hidden;
    max-width: $max-sidebar-width;
    right: $gutter;
    border-radius: 0 0 $radius-lg $radius-lg;

    // prevent page jump
    &:before {
      @include pseudo;
      width: 100%;
      height: $nav-height * 1.17; // fudged

      // feels bad 💩
      @media (min-width: $s) and (max-width: $m - 0.001) {
        height: $nav-height * 1.11; // soooo fudged, omg
      }
    }

    // fudge the box-shadow, accounting for pseudo element height with calc
    @supports(height: calc(100% - 1em)) {
      &:after {
        @include pseudo;
        @include box-shadow-lg;
        position: absolute;
        width: 100%;
        height: calc(100% - #{$nav-height * 1.17}); // still fudged
        border-radius: 0 0 $radius-lg $radius-lg;

        // just kill me 💀
        @media (min-width: $s) and (max-width: $m - 0.001) {
          height: calc(100% - #{$nav-height * 1.11}); // still fudged
        }
      }
    }
  }
}

// nav items
.nav-item {
  width: 100%;
  height: auto;
  float: left;
  background: $white;

  @media (max-width: $m - 0.001) {
    & + & {
      border-top: 1px solid $light-1;
    }
    &:last-of-type {
      border-radius: 0 0 $radius-lg $radius-lg;
      overflow: hidden;
    }
  }

  // large screen style
  @media (min-width: $m) {
    width: auto;
    display: block;
  }
}


// nav links
.nav-link {
  display: block;
  line-height: 40px;
  font-size: 18px;
  z-index: 1;
  overflow: hidden;
  padding-left: rem(15);
  padding-right: rem(15);

  // extra padding where screen real estate allows
  @media (min-width: $m) {
    padding: 0 rem(9);
    line-height: $nav-height; // vertically center
    font-size: $epsilon;
  }

  // active page
  &.is-active-pg {
    color: $dark-2;
  }
}


//////////////////////////////////
// hover effect via pseudo element
//////////////////////////////////

// initial state
.nav-link:after {
  @include pseudo;
  @include inflate;
  z-index: -1; // hide behind text
  background: $brand-light;
  background-image: linear-gradient(to bottom, $brand-light, $brand-color);
  opacity: 0;
  transform: translateY(100%);
}

// hover state
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: $white; // make text readable against pseudo element

  // show pseudo element
  &:after {
    opacity: 1;
    transform: none;
  }
}


////////////////////////////////
// nav menu toggle
////////////////////////////////

// expanded menu via js
.nav-list.is-expanded {
  @include dropdown-visible;
}

// menu toggle
.nav-toggle {
  @include box-shadow(rgba($black, 0.25));
  position: absolute;
  float: right;
  text-align: right;
  padding: 2px 10px 1px 9px; // somewhat fudged
  right: $gutter;
  top: $gutter * 2;
  background: $white;
  border-radius: $radius-lg;

  &-text {
    font-size: 18px;
    color: $brand-color;
  }

  // active state
  &.is-active {
    width: 100%;
    max-width: $max-sidebar-width;
    background: $brand-color;
    border-radius: $radius-lg $radius-lg 0 0;
    box-shadow: none;

    .hamburger-bun {
      background: $white;
    }
    .nav-toggle-text {
      color: $white;
    }

  }

  // hide on large screens
  @media (min-width: $m) {
    display: none;
  }
}

// humburger icon
.hamburger {
  display: inline-block;
  margin-left: 0.4rem;

  // initial state
  &-bun {
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    background: $brand-color;

    & + & {
      margin-top: 3px;
    }
  }

  // active state
  &.is-active {
    transform: translateX(5px);

    .hamburger-bun-top {
      transform: rotateZ(45deg) translateY(7px);
    }
    .hamburger-bun-patty {
      opacity: 0;
    }
    .hamburger-bun-bottom {
      transform: rotateZ(-45deg) translateY(-7px);
    }
  }
}


////////////////////////////////
// social icons
////////////////////////////////
/*
// social icons
.nav-social-list {
  display: none;
  height: $nav-height;
  width: 7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  // show on big-enough screens
  @media (min-width: $xxs) {
    display: block;
  }

  // send to the right instead of centering on bigger screens
  @media (min-width: $m) {
    float: right;
    width: auto;
    margin-left: $gutter;
    margin-right: -($gutter * 0.5);
  }
}

// social item
.nav-social-item {
  display: inline-block;
  height: $nav-height;
  overflow: hidden;
}

// social links
.nav-social-link {
  display: block;
  padding: ($gutter * 0.7) ($gutter * 0.5); // fudged
  max-height: $nav-height;

  // scale icons with baseline
  svg {
    height: 1rem;

    // default color
    path {
      fill: $black;
    }
  }
}

// :hover colors
.nav-social-link-twitter {
  &:hover path, &:active path, &:focus path {
    fill: $twitter-color;
  }
}
.nav-social-link-facebook {
  &:hover path, &:active path, &:focus path {
    fill: $facebook-color;
  }
}
.nav-social-link-linkedin {
  &:hover path, &:active path, &:focus path {
    fill: $linkedin-color;
  }
}
.nav-social-link-instagram {
  &:hover path, &:active path, &:focus path {
    fill: $instagram-color;
  }
}
*/

////////////////////////////////
// skip link
////////////////////////////////

// skip link
a.skip {
  top: $nav-height + ($gutter / 2); // position under nav bar
  z-index: 8;
  transform: translateX(-100%);
}
.skip:focus {
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
  transform: none;
}
