////////////////////////////////
// colors
////////////////////////////////

// brand palette
$brand-color: #0483DD;

$brand-light: #2F99E4;
$brand-dark:  #0062AA;
$brand-black: #033860;

// ui colors
$success-color: #3DDC97;
$error-color: #FF495C;

// neutrals
$white:   #FFFFFF;
$light-1: #F2F5FC;
$light-2: #CACED9;
$gray:    #A4A9B7;
$dark-1:  #7F8594;
$dark-2:  #596073;
$black:   #343C50;

// shadow
$shadow: rgba($dark-1, 0.35);
$shadow-dark: rgba($black, 0.5);

// social media colors
$facebook-color:  #3b5998;
$twitter-color:   #00aced;
$dribbble-color:  #ea4c89;
$github-color:    #4078c0;
$codepen-color:   #47cf73;
$linkedin-color:  #0077B5;
$instagram-color: #e4405f;


////////////////////////////////
// font sizes
////////////////////////////////

$alpha:   rem(56);
$beta:    rem(38);
$gamma:   rem(30);
$delta:   rem(20); // 1rem
$epsilon: rem(16);
$milli:   rem(13);

////////////////////////////////
// breakpoints
////////////////////////////////

// t-shirt sizing ftw
$xxs:  20em;
$xs:   30em;
$s:    40em;
$m:    56em;
$l:    64.5em;
$xl:   84em;
$xxl:  92em;
$xxxl: 100em;


////////////////////////////////
// miscellaneous measurements
////////////////////////////////

// border
$border-width:       1px;
$border-width-thick: 0.25em;

// border radius
$radius:     rem(4);
$radius-lg:  rem(6);

// used by _jf-grid.scss
$gutter: 1rem;
$max-container-width: 50rem; // 1000px
$max-sidebar-width:   15rem; // 300px

// used by _nav.scss
$nav-height: 3.3rem;
$logo-icon-size: 30px;

// used by _cards.scss
$thumb-width: 8rem;
$thumb-height: 6rem;


////////////////////////////////
// motion
////////////////////////////////

$timing: 0.2s ease;
$timing-fast: 0.1s ease-out;
$timing-gradual: 0.275s ease-out;
$timing-long: 0.4s ease-out;
