////////////////////////////////////////////////////
// avatar image positining and style
////////////////////////////////////////////////////

// used in site-intro and colophon components
.avatar-image {
  border-radius: 50%;
  overflow: hidden;
  width: rem(80);
  height: rem(80);
  // initial placeholder state
  font-size: rem(58);

  @media (min-width: $l) {
    width: rem(120);
    height: rem(120);
    // initial placeholder state
    font-size: rem(80);
  }
}
