////////////////////////////////
// refactor
////////////////////////////////

// OG button
.button {
  @include button-base;
}

// inverted
.button-inverted {
  @include button-base($white, $white, $light-1, $brand-color);
  @include box-shadow;
}

.button-fullwidth {
  width: 100%;
}

// ginormous button
/*
.button-large {
  padding: 1.05em 2em 1em 2em;
  border-radius: $radius-lg;
}
*/
