////////////////////////////////
// standard card
////////////////////////////////

.card-container {
  width: 100%;
}

.card-inner {
  @include box-shadow;
  padding: $delta;
  background: #fff;
}


// thumbnail and caption alignment
.card-thumb,
.card-caption {
  display: inline-block;
  vertical-align: top;

  @media (min-width: $s) {
    vertical-align: middle;
  }
}


// thumbnail image size
.card-thumb {
  background: $light-1;
  width: $thumb-width;
  height: $thumb-height;

  // extend clickable zone
  &:after {
    @include pseudo;
    position: absolute;
    width: $gutter;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 1;
  }

  // hovering image triggers adjacent title
  &:hover + .card-caption > .card-title {
    color: $brand-light;
  }
}

// image size
.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


// caption positioning
.card-caption {
  margin-top: 0;
  // padding-left: $gutter;
  width: 100%;
}


// linked card title
a.card-title {
  color: $brand-color; // override .heading color
  // stop .card-title from inheriting parent line-height by changing it to a block element ¯\_(ツ)_/¯
  display: block;
}


// adjust line height
.card-description {
  line-height: 1.25;
}


// small screen treatment
@media (max-width: $s - 0.001) {
  .card-meta {
    display: none;
  }
}
// three column treatment
@media (min-width: $xl) {
  .secondary-content .card-meta {
    display: none;
  }
}
