////////////////////////////////
// default / expanded state
////////////////////////////////

// container
.site-intro {
  // more pronounced gradient than the standard glossy overlay
  @include brand-color-depth;
}

// inner
.site-intro-inner {
  max-width: $max-container-width * 0.75; // keep line-length reasonable
  padding: $gutter;
  overflow: hidden; // prevent transformed elements from breaking out

  @media (min-width: $m) {
    max-width: $max-sidebar-width;
    margin: 0 auto;
    padding: rem(40);
  }
}


////////////////////////////////
// avatar spacing
////////////////////////////////

// container
.site-intro-avatar {
  margin-bottom: 0.25rem;

  @media (min-width: $m) {
    margin-bottom: 0.5rem;
  }
}

// inner
.site-intro-avatar-inner {
  display: inline-block; // utilize text-align
}


////////////////////////////////
// colophon
////////////////////////////////

// logo icon container
.site-intro-logo-icon {
  @include brand-color-depth;
  // alignment
  display: inline-block;
  vertical-align: middle;
  top: -1px; // fudge the icon up
  // set icon and margin in pixels; always be sharp
  width: $logo-icon-size;
  height: $logo-icon-size;
  margin-right: 6px;
  // aesthetic
  border-radius: $radius;
  // before transition
  opacity: 0;
  transform: scale(0.5);
}

// logo image
.logo-icon-img {
  height: $logo-icon-size;
  width: $logo-icon-size;
}

// mah name
.site-intro-logo-name {
  display: inline-block; // needed to apply transform

  // offset the logo image on smaller screens; not necessary on larger viewports
  @media (max-width: $m - 0.001) {
    transform: translateX(-40px);
  }
}


////////////////////////////////
// collapsed state: logo only
////////////////////////////////

.site-intro.is-collapsed {
  @include box-shadow;
  background: $brand-black;
  // make the same height as the main navbar
  height: $nav-height;
  overflow: hidden;

  // vertically offset inner block to position the logo correctly
  // NOTE: fudged as hell
  .site-intro-inner {
    top: -4.85rem;

    @media (min-width: $m) {
      top: -8.05rem;
    }
  }

  // position & show the logo icon
  .site-intro-logo-icon,
  .site-intro-logo-name {
    // after transition
    opacity: 1;
    transform: none;
  }

  // shrink and hide the avatar
  .site-intro-avatar-inner {
    // after transition
    transform: scale(0.75);
    opacity: 0;
  }

  // hide the bio offscreen
  .site-intro-bio {
    // after transition
    transform: translateY(150%);
    opacity: 0;
  }
}
