// individual tag component
.tag {
  @include body-semibold-font;
  @include font-smoothing;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: $white;
  background: $black;
  border-radius: $radius;
}


// list of tags, each wrapped in an li
.tag-list {

  // wrapper li; display tags horizontally
  .tag-item {
    display: inline-block;
    // margin-bottom: 0.5em; // throws off wrapping tags

    // add spacing to the right of all but the last item
    &:not(:last-of-type) {
      margin-right: $gutter / 2;
    }
  }
}
