// interactive stuff
a, label, input, textarea, button,
[class*=button], [class*=button]:after, .nav-link:after {
  /* autoprefixer: off */
  transition:
    color $timing,
    opacity $timing,
    background $timing,
    border $timing,
    transform $timing,
    box-shadow $timing;
}

// site intro transition
.site-intro-avatar-inner,
.site-intro-logo-icon,
.site-intro-logo-name,
.site-intro-bio {
  /* autoprefixer: off */
  transition:
    opacity $timing-gradual,
    transform $timing-gradual;
}

// images
img, [class*='img'] {
  /* autoprefixer: off */
  transition:
    opacity $timing,
    transform $timing,
    box-shadow $timing;
}

// svgs
svg * {
  /* autoprefixer: off */
  transition:
    fill $timing,
    stroke $timing,
    opacity $timing;
}

// nav list smooth expand / collapse
.nav-list,
.dropdown,
.project-item-link-text {
  /* autoprefixer: off */
  transition:
    opacity $timing,
    transform $timing;
}

// nav toggle
.nav-toggle {
  transition:
    opacity $timing,
    background-color $timing-gradual;
}

// transform only
.hamburger,
.hamburger-bun,
.grid-icon,
.secondary-link > svg,
[class*=link-arrow]:before {
  /* autoprefixer: off */
  transition: transform $timing;
}

// transform only, slower transition
.mobile-container {
  /* autoprefixer: off */
  transition: transform $timing-gradual;
}

.laptop-container,
.controller-container,
.album-container {
  /* autoprefixer: off */
  transition: transform $timing-long;
}

// opacity only, slower transition
.project-item-link {
  transition: opacity $timing-long;
}
