////////////////////////////////
// lists
////////////////////////////////

// all lists
.content {
  ul, ol {
    padding-left: $gutter;
    list-style: none;

    > li:before {
      position: absolute;
      left: -$gutter;
      color: $black;
    }
  }
}

// bulleted lists
.bullets,
.content ul {

  > li:before {
  	content: '•';
  }
}

// ordered lists
ol {
  counter-reset: list-counter;

  > li:before {
  	content: counter(list-counter)'.';
  	counter-increment: list-counter;
  }
}
