////////////////////////////////
// content
////////////////////////////////

// default
.content * + * {
  margin-top: 0.625em;
}

// space out all components that follow main content
main .content ~ * {
  margin-top: 2rem;
}

// content typography spacing
.content h2 + p,
.content p + p {
  margin-top: 0.9em;
}

.content p + h2,
.content ul + h2,
.content ul + h3,
.content figure + h2 {
  margin-top: 1.25em;
  // border: 1px solid blue; // debugging
}

.content figure > figcaption {
  margin-top: 0.5em;
}


////////////////////////////////
// anchor link offset
////////////////////////////////

// add anchor link offset to any element with an id
main [id]:before {
  @include pseudo;
  visibility: hidden;
  pointer-events: none;

  // account for fixed nav
  @media (min-width: $l) and (min-height: $s) {
    margin-top: -1.5rem;
    height: 1.5rem;
  }
}
